# Reading CSV

In [103]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [104]:
csv = pd.read_csv("../school-yrbs/Somerville_High_School_YRBS_Raw_Data_2002-2016.csv")

In [105]:
print(csv)

     survey             id                    age  gender             grade  \
0      SH16  English - SHS           15 years old  Female  Sophomore - 10th
1      SH16              2           16 years old    Male  Sophomore - 10th
2      SH16              3           16 years old    Male  Sophomore - 10th
3      SH16              4  18 years old or older    Male     Senior - 12th
4      SH16              5  18 years old or older    Male     Senior - 12th
5      SH16              6  18 years old or older    Male     Senior - 12th
6      SH16              8  18 years old or older    Male     Senior - 12th
7      SH16             10  18 years old or older    Male     Senior - 12th
8      SH16             12  18 years old or older    Male     Senior - 12th
9      SH16             13           17 years old    Male     Senior - 12th
10     SH16             14           17 years old    Male     Senior - 12th
11     SH16             15  18 years old or older    Male     Senior - 12th
12     SH16             16           17 years old    Male     Junior - 11th
13     SH16             17  18 years old or older    Male     Junior - 11th
14     SH16             18           17 years old    Male     Senior - 12th
15     SH16             19           16 years old  Female     Junior - 11th
16     SH16             20  18 years old or older    Male     Senior - 12th
17     SH16             21           17 years old    Male     Junior - 11th
18     SH16             22           16 years old  Female     Junior - 11th
19     SH16             23           16 years old  Female     Junior - 11th
20     SH16             24           17 years old    Male     Junior - 11th
21     SH16             25           17 years old    Male     Junior - 11th
22     SH16             27           16 years old    Male  Sophomore - 10th
23     SH16             29           15 years old    Male  Sophomore - 10th
24     SH16             30           17 years old  Female     Junior - 11th
25     SH16             31           17 years old  Female     Junior - 11th
26     SH16             32           16 years old  Female  Sophomore - 10th
27     SH16             33           15 years old    Male  Sophomore - 10th
28     SH16             34           16 years old    Male  Sophomore - 10th
29     SH16             35           15 years old  Female  Sophomore - 10th
...     ...            ...                    ...     ...               ...
8841   SH06           2007  18 years old or older  Female     Junior - 11th
8842   SH06           2008           15 years old  Female  Sophomore - 10th
8843   SH06           2009           15 years old    Male  Sophomore - 10th
8844   SH06           2010  18 years old or older    Male     Senior - 12th
8845   SH06           2011           15 years old  Female    Freshman - 9th
8846   SH06           2012           15 years old    Male    Freshman - 9th
8847   SH06           2013  18 years old or older    Male             Other
8848   SH06           2014           15 years old    Male    Freshman - 9th
8849   SH06           2015           15 years old  Female    Freshman - 9th
8850   SH06           2016           15 years old    Male    Freshman - 9th
8851   SH06           2017           16 years old  Female    Freshman - 9th
8852   SH06           2018  18 years old or older  Female     Senior - 12th
8853   SH06           2019           17 years old  Female     Junior - 11th
8854   SH06           2020           17 years old    Male     Junior - 11th
8855   SH06           2021           17 years old  Female     Junior - 11th
8856   SH06           2022           17 years old    Male     Junior - 11th
8857   SH06           2023           16 years old  Female     Junior - 11th
8858   SH06           2024  18 years old or older  Female     Senior - 12th
8859   SH06           2025           17 years old  Female     Senior - 12th
8860   SH06           2026           16 years old  Female     Junior - 11th
8861   SH06           2027           17 years old    Male     Junior - 11th
8862   SH06           2028  18 years old or older  Female     Junior - 11th
8863   SH06           2029           15 years old  Female    Freshman - 9th
8864   SH06           2030           14 years old    Male    Freshman - 9th
8865   SH06           2031           14 years old    Male    Freshman - 9th
8866   SH06           2032           15 years old  Female    Freshman - 9th
8867   SH06           2033           14 years old  Female    Freshman - 9th
8868   SH06           2034           14 years old  Female    Freshman - 9th
8869   SH06           2035           17 years old    Male     Senior - 12th
8870   SH06           2036           17 years old  Female     Junior - 11th

                                 race          language  \
0                  Hispanic or Latino           English
1                  Hispanic or Latino           English
2                               Black           English
3                  Hispanic or Latino           Spanish
4                  Hispanic or Latino           Spanish
5                  Hispanic or Latino        Portuguese
6                  Hispanic or Latino           Spanish
7                               White           English
8     Asian or other Pacific Islander  Another language
9                               Other           Spanish
10                              Black           English
11                              Black           English
12                              Black    Haitian Creole
13                 Hispanic or Latino           Spanish
14                              White           English
15                                           Portuguese
16    Asian or other Pacific Islander  Another language
17                              Black           English
18                              White           English
19                              White           English
20                              White           English
21                              Black    Haitian Creole
22                              Black           English
23                 Hispanic or Latino        Portuguese
24                 Hispanic or Latino           Spanish
25                 Hispanic or Latino           Spanish
26                              Black
27                              White           English
28                 Hispanic or Latino           English
29                              Other  Another language
...                               ...               ...
8841                            Black           English
8842                            White           English
8843                            Black           English
8844                            White           English
8845                            White           English
8846               Hispanic or Latino           Spanish
8847               Hispanic or Latino           Spanish
8848                            White           English
8849                            White           English
8850                            White           English
8851                            Other  Another language
8852                            Other    Haitian Creole
8853               Hispanic or Latino           Spanish
8854               Hispanic or Latino        Portuguese
8855                            White           English
8856                            Black        Portuguese
8857  Asian or other Pacific Islander           English
8858                            White           English
8859                            White           English
8860                            Black  Another language
8861                            White           English
8862  Asian or other Pacific Islander  Another language
8863                                            English
8864               Hispanic or Latino           English
8865  Asian or other Pacific Islander  Another language
8866                            White           English
8867                            White           English
8868               Hispanic or Latino           Spanish
8869                                            English
8870                            Black        Portuguese

                                       live_us                        parents  \
0     I have always lived in the United States        My mother and my father
1                            Between 1-3 years    My mother and a step-parent
2     I have always lived in the United States        My mother and my father
3     More than 6 years, but not my whole life        My mother and my father
4     I have always lived in the United States        My mother and my father
5     More than 6 years, but not my whole life        My mother and my father
6     More than 6 years, but not my whole life                 My mother only
7     I have always lived in the United States                 My mother only
8                            Between 1-3 years        My mother and my father
9     I have always lived in the United States        My mother and my father
10    I have always lived in the United States    My mother and a step-parent
11    More than 6 years, but not my whole life                 My mother only
12    More than 6 years, but not my whole life                 My father only
13    I have always lived in the United States    My mother and a step-parent
14    I have always lived in the United States                 My mother only
15                            Less than 1 year        My mother and my father
16                           Between 1-3 years        My mother and my father
17    I have always lived in the United States        My mother and my father
18    I have always lived in the United States        My mother and my father
19    I have always lived in the United States                 My mother only
20    I have always lived in the United States        My mother and my father
21    I have always lived in the United States        My mother and my father
22    I have always lived in the United States                 My mother only
23    More than 6 years, but not my whole life    My mother and a step-parent
24    I have always lived in the United States                 My mother only
25    I have always lived in the United States                 My father only
26    I have always lived in the United States                 My mother only
27    I have always lived in the United States        My mother and my father
28    I have always lived in the United States  Someone else not on this list
29    More than 6 years, but not my whole life        My mother and my father
...                                        ...                            ...
8841
8842
8843
8844
8845
8846
8847
8848
8849
8850
8851
8852
8853
8854
8855
8856
8857
8858
8859
8860
8861
8862
8863
8864
8865
8866
8867
8868
8869
8870

                                                   home   ...   chew_age  \
0     A house/condo/apartment owned/rented by my par...   ...        NaN
1     A house/condo/apartment owned/rented by my par...   ...        NaN
2     A house/condo/apartment owned/rented by my par...   ...        NaN
3     A house/condo/apartment owned/rented by my par...   ...        NaN
4     A house/condo/apartment owned/rented by my par...   ...        NaN
5     A house/condo/apartment owned/rented by my par...   ...        NaN
6     A house/condo/apartment owned/rented by my par...   ...        NaN
7     A house/condo/apartment owned/rented by my par...   ...        NaN
8     A house/condo/apartment owned/rented by my par...   ...        NaN
9     A house/condo/apartment owned/rented by my par...   ...        NaN
10    A house/condo/apartment owned/rented by my par...   ...        NaN
11    A house/condo/apartment owned/rented by my par...   ...        NaN
12             Public housing (Section 8, the projects)   ...        NaN
13             Public housing (Section 8, the projects)   ...        NaN
14    A house/condo/apartment owned/rented by my par...   ...        NaN
15    A house/condo/apartment owned/rented by my par...   ...        NaN
16    A house/condo/apartment owned/rented by my par...   ...        NaN
17    A house/condo/apartment owned/rented by my par...   ...        NaN
18    A house/condo/apartment owned/rented by my par...   ...        NaN
19    A house/condo/apartment owned/rented by my par...   ...        NaN
20    A house/condo/apartment owned/rented by my par...   ...        NaN
21    A house/condo/apartment owned/rented by my par...   ...        NaN
22             Public housing (Section 8, the projects)   ...        NaN
23    A house/condo/apartment owned/rented by my par...   ...        NaN
24             Public housing (Section 8, the projects)   ...        NaN
25             Public housing (Section 8, the projects)   ...        NaN
26             Public housing (Section 8, the projects)   ...        NaN
27    A house/condo/apartment owned/rented by my par...   ...        NaN
28         A shelter, motel, or other temporary housing   ...        NaN
29    A house/condo/apartment owned/rented by my par...   ...        NaN
...                                                 ...   ...        ...
8841  A house/condo/apartment owned/rented by my par...   ...        NaN
8842  A house/condo/apartment owned/rented by my par...   ...        NaN
8843  A house/condo/apartment owned/rented by my par...   ...        NaN
8844  A house/condo/apartment owned/rented by my par...   ...        NaN
8845  A house/condo/apartment owned/rented by my par...   ...        NaN
8846  A house/condo/apartment owned/rented by my par...   ...        NaN
8847  A house/condo/apartment owned/rented by my par...   ...        NaN
8848  A house/condo/apartment owned/rented by my par...   ...        NaN
8849  A house/condo/apartment owned/rented by my par...   ...        NaN
8850  A house/condo/apartment owned/rented by my par...   ...        NaN
8851  A house/condo/apartment owned/rented by my par...   ...        NaN
8852           Public housing (Section 8, the projects)   ...        NaN
8853  A house/condo/apartment owned/rented by my par...   ...        NaN
8854  A house/condo/apartment owned/rented by my par...   ...        NaN
8855  A house/condo/apartment owned/rented by my par...   ...        NaN
8856  A house/condo/apartment owned/rented by my par...   ...        NaN
8857  A house/condo/apartment owned/rented by my par...   ...        NaN
8858  A house/condo/apartment owned/rented by my par...   ...        NaN
8859  A house/condo/apartment owned/rented by my par...   ...        NaN
8860  A house/condo/apartment owned/rented by my par...   ...        NaN
8861  A house/condo/apartment owned/rented by my par...   ...        NaN
8862           Public housing (Section 8, the projects)   ...        NaN
8863  A house/condo/apartment owned/rented by my par...   ...        NaN
8864  A house/condo/apartment owned/rented by my par...   ...        NaN
8865  A house/condo/apartment owned/rented by my par...   ...        NaN
8866  A house/condo/apartment owned/rented by my par...   ...        NaN
8867  A house/condo/apartment owned/rented by my par...   ...        NaN
8868  A house/condo/apartment owned/rented by my par...   ...        NaN
8869  A house/condo/apartment owned/rented by my par...   ...        NaN
8870  A house/condo/apartment owned/rented by my par...   ...        NaN

     fr_smok fr_alc fr_pot fr_oth talk_sex study_7 read_7 work_7 stren_7
0        NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
1        NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
2        NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
3        NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
4        NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
5        NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
6        NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
7        NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8        NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
9        NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
10       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
11       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
12       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
13       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
14       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
15       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
16       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
17       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
18       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
19       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
20       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
21       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
22       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
23       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
24       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
25       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
26       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
27       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
28       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
29       NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
...      ...    ...    ...    ...      ...     ...    ...    ...     ...
8841     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8842     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8843     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8844     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8845     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8846     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8847     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8848     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8849     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8850     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8851     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8852     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8853     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8854     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8855     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8856     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8857     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8858     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8859     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8860     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8861     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8862     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8863     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8864     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8865     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8866     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8867     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8868     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8869     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN
8870     NaN    NaN    NaN    NaN      NaN     NaN    NaN    NaN     NaN

[8871 rows x 221 columns]

# Describing data

In [116]:
csv.tail()

,survey,id,age,gender,grade,race,language,live_us,parents,home,...,chew_age,fr_smok,fr_alc,fr_pot,fr_oth,talk_sex,study_7,read_7,work_7,stren_7
8866,SH06,2032,15 years old,Female,Freshman - 9th,White,English,Unknown,Unknown,A house/condo/apartment owned/rented by my par...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8867,SH06,2033,14 years old,Female,Freshman - 9th,White,English,Unknown,Unknown,A house/condo/apartment owned/rented by my par...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8868,SH06,2034,14 years old,Female,Freshman - 9th,Hispanic or Latino,Spanish,Unknown,Unknown,A house/condo/apartment owned/rented by my par...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8869,SH06,2035,17 years old,Male,Senior - 12th,Unknown,English,Unknown,Unknown,A house/condo/apartment owned/rented by my par...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8870,SH06,2036,17 years old,Female,Junior - 11th,Black,Portuguese,Unknown,Unknown,A house/condo/apartment owned/rented by my par...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
csv.replace(regex=r'^\s*$', value='Unknown', inplace=True)

In [120]:
csv.tail()

,survey,id,age,gender,grade,race,language,live_us,parents,home,...,chew_age,fr_smok,fr_alc,fr_pot,fr_oth,talk_sex,study_7,read_7,work_7,stren_7
8866,SH06,2032,15 years old,Female,Freshman - 9th,White,English,Unknown,Unknown,A house/condo/apartment owned/rented by my par...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8867,SH06,2033,14 years old,Female,Freshman - 9th,White,English,Unknown,Unknown,A house/condo/apartment owned/rented by my par...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8868,SH06,2034,14 years old,Female,Freshman - 9th,Hispanic or Latino,Spanish,Unknown,Unknown,A house/condo/apartment owned/rented by my par...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8869,SH06,2035,17 years old,Male,Senior - 12th,Unknown,English,Unknown,Unknown,A house/condo/apartment owned/rented by my par...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8870,SH06,2036,17 years old,Female,Junior - 11th,Black,Portuguese,Unknown,Unknown,A house/condo/apartment owned/rented by my par...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
csv['Mother']  = csv['parents'].str.split("My mother", 1, expand=True)

In [208]:
pd.get_dummies(csv.parents)
train = pd.concat([pd.get_dummies(csv.parents)], axis=1)
train.head()
lista = csv['parents'].unique()
lists = [word for word in lista if word.find('mother') != -1] 
print(lists)
trainer = train[lists].sum(1)
print(train['My mother and my father'])
print(trainer)

['My mother and my father', 'My mother and a step-parent', 'My mother only']
0       1
1       0
2       1
3       1
4       1
5       1
6       0
7       0
8       1
9       1
10      0
11      0
12      0
13      0
14      0
15      1
16      1
17      1
18      1
19      0
20      1
21      1
22      0
23      0
24      0
25      0
26      0
27      1
28      0
29      1
       ..
8841    0
8842    0
8843    0
8844    0
8845    0
8846    0
8847    0
8848    0
8849    0
8850    0
8851    0
8852    0
8853    0
8854    0
8855    0
8856    0
8857    0
8858    0
8859    0
8860    0
8861    0
8862    0
8863    0
8864    0
8865    0
8866    0
8867    0
8868    0
8869    0
8870    0
Name: My mother and my father, Length: 8871, dtype: uint8
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      0
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      0
26      1
27      1
28      0
29      1
       ..
8841    0
8842    0
8843    0
8844    0
8845    0
8846    0
8847    0
8848    0
8849    0
8850    0
8851    0
8852    0
8853    0
8854    0
8855    0
8856    0
8857    0
8858    0
8859    0
8860    0
8861    0
8862    0
8863    0
8864    0
8865    0
8866    0
8867    0
8868    0
8869    0
8870    0
Length: 8871, dtype: int64

# Plotting Grafics

In [112]:
#csv['parents'].hist(bins=50)

# Crossing information

In [113]:
#csv.boxplot(column='parents', by= 'divorce')

In [114]:
csv['gender'].value_counts()['Transgender or Questioning']

14

In [115]:
pd.crosstab( csv ['parents'], csv ['gender'], margins=True)

gender,9,Female,Male,Transgender or Questioning,Unknown,All
parents,,,,,,
"Another relative (like a grandparent, aunt/uncle)",0,113,113,0,0,226
Foster parent(s),0,10,5,1,0,16
My father and a step-parent,0,26,49,0,1,76
My father only,0,83,67,0,2,152
My mother and a step-parent,0,230,156,0,3,389
My mother and my father,0,1416,1432,10,15,2873
My mother only,0,628,489,3,10,1130
Someone else not on this list,0,51,41,0,0,92
Unknown,7,2031,1853,0,26,3917
All,7,4588,4205,14,57,8871