<strong>I use pandas when it comes to Data Analysis.

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('Somerville_High_School_YRBS_Raw_Data_2002-2016.csv')

<strong>Its better to have some basic data like length of Dataset etc.
    First we have to see how many rows we have in our dataset

In [4]:
len(data)

8871

<strong> Now Rows and their dataTypes

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8871 entries, 0 to 8870
Columns: 221 entries, survey to stren_7
dtypes: float64(53), int64(1), object(167)
memory usage: 15.0+ MB

There are way too many colomns just to derive an insight using a single command

In [6]:
Colomn_names = data.columns.to_series().groupby(data.dtypes).groups

In [7]:
Colomn_names

{dtype('int64'): Index(['year'], dtype='object'),
 dtype('float64'): Index(['cig_get', 'inha_age', 'inha_30', 'oxy_age', 'oxy_30', 'rx_high',
        'rsk_pott', 'forced', 'tv_room', 'exer_7', 'thr_skl', 'thr_out', 'cope',
        'control', 'exer_30', 'less_30', 'light_7', 'past60mn', 'typ60mn',
        'aft_play', 'aft_park', 'aft_yard', 'aft_fiel', 'aft_cntr', 'aft_path',
        'aft_prog', 'enc_aft', 'enc_gym', 'enc_rec', 'enc_home', 'enc_skl',
        'drunk_30', 'family', 'children', 'resolve', 'manage', 'inj_fit',
        'tense', 'heartrac', 'soc_fear', 'repeat', 'fear', 'cigarage',
        'chew_age', 'fr_smok', 'fr_alc', 'fr_pot', 'fr_oth', 'talk_sex',
        'study_7', 'read_7', 'work_7', 'stren_7'],
       dtype='object'),
 dtype('O'): Index(['survey', 'id', 'age', 'gender', 'grade', 'race', 'language', 'live_us',
        'parents', 'home',
        ...
        'sports', 'music', 'stu_gov', 'com_ser', 'com_groups', 'hrs_work',
        'transskl', 'rx_use2', 'SCHOOL', 'SURLANG'],
       dtype='object', length=167)}

<h3>Question 1: Is there data missing?

<strong> Yes, Absolutely.It's a basic issue we face with basically any real time data. The below series shows the list of all colomn names and missing value count

In [8]:
total_cells = np.product(data.shape)
total_missing_values = data.isnull().sum().sum()

percentage_of_data_missing = (total_missing_values/total_cells) *100
percentage_of_data_missing

24.05667763840793

<strong>As we see, there's 24% of data missing,Lets go a bit deep.

In [9]:
print(data.isnull().sum())

survey          0
id           1466
age             0
gender          0
grade           0
race            0
language        0
live_us         0
parents         0
home            0
skl_gra         0
fut_ed          0
DOCT_12         0
DENT_12         0
witness         0
emo_abus        0
mistreat        0
harassed        0
hurtdate        0
gang            0
bull_skl        0
nothing         0
trystop         0
teltea          0
telpar          0
telfri          0
saw_bul         0
tookpart        0
justsaw         0
intervene       0
             ...
aft_cntr     8871
aft_path     8871
aft_prog     8871
enc_aft      8871
enc_gym      8871
enc_rec      8871
enc_home     8871
enc_skl      8871
drunk_30     8871
family       8871
children     8871
resolve      8871
manage       8871
inj_fit      8871
tense        8871
heartrac     8871
soc_fear     8871
repeat       8871
fear         8871
cigarage     8871
chew_age     8871
fr_smok      8871
fr_alc       8871
fr_pot       8871
fr_oth       8871
talk_sex     8871
study_7      8871
read_7       8871
work_7       8871
stren_7      8871
Length: 221, dtype: int64

As we can see,many rows contain zero info. We can find out colomns which contain zero data in them.

In [10]:
"""Method 1 - Take the above series and loop it checking value == 8871
(Number of rows in the dataset. Its actually 8872 but the counts start from 0 so value is down by 1)
For now printing number of colomns.
"""
indexes = data.isnull().sum()
null_names = []
num = 1
for index,value in indexes.items():
    if value == 8871:
        num +=1
        null_names.append(index)
print(num)

54

Almost 22% of missing data is been contributed by these colomns.

In [11]:
# Method 2 - Doing the same as above - Getting names of missing colomns
null_columns=data.columns[data.isnull().any()]
print(null_columns.size)

54

All the colomn names mentioned are having NaN in their entire colomns. We can do same thing to find the polar opposite in method one- find colomns with no values missing. Best way for now(without digging much into the datatype of colomn values,fill it with "Nan") and drop colomns which have no data.

In [12]:
#Dropping the columns using both the lists is ok(null_names or null_columns)
data=data.drop(data[null_names],axis=1)
data= data.replace([' '], np.nan) # or can use pandas.fillna to do the work
#data= data.replace(r'^\s+$', np.nan, regex=True) - using regrex to search blank entries

In [13]:
data.sample(2)

,survey,id,age,gender,grade,race,language,live_us,parents,home,...,music,stu_gov,com_ser,com_groups,hrs_work,transskl,rx_use2,SCHOOL,SURLANG,year
2082,SH14,3040,18 years old or older,Female,Junior - 11th,Hispanic or Latino,Spanish,Between 1-3 years,My mother only,A house/condo/apartment owned/rented by my par...,...,No,No,No,No,More than 30 hours,Walk,NaN,Somerville HS,Spanish,2014
6537,SH04,4019,18 years old or older,Male,Sophomore - 10th,White,English,NaN,NaN,A house/condo/apartment owned/rented by my par...,...,No,Yes,No,NaN,None,Take a bus,NaN,NaN,NaN,2004

<h3> Question 2: Is the data consistent?

I think data is consistent.To check data to be consistent,
         check for duplicate entries

In [14]:
data[data.duplicated(keep=False)]
print(len(data.index))

8871

 As we can see, there aren't any duplicates hence its consistent.

<h3> Question 3 : Is the data bugs free?

What i understand of "bug" in data is data collected isn't proper.For instance the 'Id' and 'survey' field are inter-related. but there are many rows where neither of them are given. Assuming that both colomns are needed, Its a problem to figure out what/how to fill those places.

In [15]:
# Just id colomn has around 16% of data missing
print(data["id"].isnull().sum())

1466

As per data itself, we can't feed it to any machine learning algorithms. As the data contains many categorical colomns, we can see for any "outliers" in the data.

In [16]:
data.groupby('parents').size()

parents
Another relative (like a grandparent, aunt/uncle)     226
Foster parent(s)                                       16
My father and a step-parent                            76
My father only                                        152
My mother and a step-parent                           389
My mother and my father                              2873
My mother only                                       1130
Someone else not on this list                          92
dtype: int64

Summing up all the entries, It has nearly half of the entry missing!. Assuming that problem solved, the data is heavly biased to one catagory. Data isnt spread evenly.If this is a training-dataset and If this colomn was my label/target/prediction/output of the model, the output will be biased to one outcome itself as dataset itself has biased targets.

If this imbalance is neglected, then we can say the entries which have negligible contributions considered as outliers which throws off the accuracy of the data.

<h3> Conclusion</h3>
1. If Data is missing, find a way to re-fill it or drop the colomn. 
2. If Data is having repeated entries, remove them.
3. if Data has multiple colomns with contiuous values, try to get them under a standard scale and normalize the data if needed
4. If Data is imbalanced,due to a particular colomn , try alternate ways to balance it our drop the colomn.


All the above mentioned steps wil improve the integrity of the dataset. This pre-processing is required for all data and the process of doing it depends on the data. Hope I have answered the question